compression.level=0
enable_debuggable=true
application_id.suffix=.debug
app.name=@string/app_name

#grayheterotopia.assets.dir=path/to/assets

#desktop.mac.signing.identity=Gray Heterotopia
#desktop.mac.signing.keychain=/path/to/grayheterotopia.keychain
#desktop.mac.notarization.apple_id=example@example.com
#desktop.mac.notarization.password=12345678
#desktop.mac.notarization.team_id=XXXXXXXXXX
